@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto-Black";
    src: url(../assets/fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto-BlackItalic";
    src: url(../assets/fonts/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-BoldItalic";
    src: url(../assets/fonts/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

* {
    font-family: "Roboto-Black";
}