#nav-container {
  background-color: #242424;
  color: white;
}

#vita-logo {
  height: 48px;
  width: 48px;
}

#nav-link {
  background-color: #424040;
  color: white;
}

#login-btn {
  background-color: #5d88c0;
  color: white;
}

#signup-btn {
  background-color: #5d88c0;
  color: white;
}

.collapsed-navbar {
  background-color: #242424;
  color: white;
  height: 100vh;
}

.btn-list > li {
  margin-top: 50px;
}
